h1 {
  margin-top: 50px;
  font-family: "Rubik Vinyl", system-ui;
  font-weight: 400;
  font-size: 130px;
  font-style: normal;
  text-align: center;
  text-shadow:
    1px 1px 2px red,
    0 0 1em blue,
    0 0 0.2em blue;
}

.course-description {
  margin-top: 100px;
  box-shadow: 10px 10px 10px purple;
}

.description-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
}

.logo {
  max-width: 60px;
}

.nav-item {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
}

.dropdown-item:hover {
  background-color: #fe65c2;
}

h3 {
  text-align: center;
}

.container-pacing-guide {
  margin-top: 60px;
}

img {
  max-width: 200px;
  transition: transform 0.2s;
}

img:hover {
  transform: translate(50px, 50px) scale(5);
}
