h1 {
  font-family: "Fascinate Inline", system-ui;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 120px;
  color: goldenrod;
}
h2 {
  font-family: "Splash", cursive;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  font-size: 80px;
  color: blueviolet;
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 32px;
  font-weight: 600;
}

h4 {
  text-align: center;
}

.meet-teachers {
  margin-top: 100px;
  text-align: center;
  color: #8a2be2;
}

.art-options {
  margin-top: 100px;
  text-align: center;
  color: #8a2be2;
}

.logo {
  max-width: 60px;
}

.nav-item {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
}

.dropdown-item:hover {
  background-color: #fe65c2;
}

.rundquist-profile {
  max-width: 165px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

.photobg {
  opacity: 0.6;
  margin-top: auto;
  padding-left: 20px;
}

p {
  padding-right: 50px;
}

table {
  width: 45%;
  margin: 0 auto;
}

thead {
  display: flex;
  justify-content: center;
  background-color: lightskyblue;
  border-bottom: 1px solid lightgrey;
}

td {
  padding-left: 15px;
}
